.form {
  /* border: 1px solid red; */
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form--signup {
  /* border: 1px solid red; */
  display: flex;
}

.form--login {
  /* border: 1px solid red; */
}

.form--modal {
  /* border: 1px solid yellow; */
  width: 80%;
}

.form__header {
  color: var(--color-text-light);
  margin: 2rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.form__header::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 20;
  /* left: 50%; */
  width: 60%;
  height: 5px;
  background-color: var(--color-text-light);
}

.form__column {
  /* border: 1px solid blue; */
  padding: 3rem 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
}

.form__subheader {
  margin: 1rem;
  /* border: 1px solid red; */
}

.form__row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.5rem;
  /* border: 1px solid red; */
}

.form__row--btn {
  padding: 1rem;
  /* border: 1px solid red; */
}

.form__label {
  /* border: 1px solid blue; */
  width: 50%;
  text-align: right;
}

.form__extra-text {
  margin: 1rem 0;
}

.form__input {
  /* border: 1px solid pink; */
  width: 50%;
  min-width: 12rem;
  border: none;
  border-radius: var(--radius-inner);
  /* box-shadow: 2px 2px 2px 0px black; */
  /* margin-bottom: 1rem; */
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  outline: none;
  /* border: 3px solid red; */
  /* background-color: var(--color-text-light); */
}

.form__input:focus,
.form__input:active {
  outline: none;
  /* border-left: none; */
  border-bottom: 3px solid var(--color-text-blue);
}
.form__input:valid {
  border-bottom: 3px solid var(--color-text-green);
}
.form__input:invalid {
  border-bottom: 3px solid var(--color-text-red);
}

.form__textarea {
  resize: none;
  /* border: 1px solid pink; */
  /* width: 30%; */
}
