.property-job {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.property-job__header {
}

.property-job__slider {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  display: flex;
}

.property-job__pic {
}

.property-job__details {
}

.property-job__type {
}

.property-job__size {
}

.property-job__instructions {
}

.property-job__instruction {
}

.property-job__worker {
}

.property-job__options {
  display: flex;
  flex-direction: column;
}
