.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  height: 5rem;
  border-radius: var(--radius-outer);
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  max-height: 100%;
  text-decoration: none;
  color: var(--color-text-light);
}

.navbar__logo--icon {
  color: var(--color-text-light);
}

.navbar__logo--title {
  text-decoration: none;
  padding-left: 2rem;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 2rem;
  border-radius: 2px;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-light);
  position: relative;
}

.nav__link:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  color: var(--color-btn-blue);
  background-color: var(--color-text-blue);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:hover:after {
  width: 100%;
  left: 0;
}
