.subscriptions {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-outer);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .my-subscriptions__list {
  border: 1px solid red;
} */

.subscription {
  /* border: 1px solid red; */
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius-inner);
  display: flex;
  align-items: center;
  width: 100%;
}

.subscription__image {
  padding: 5px;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.subscription__pic {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-inner);
}

.subscription__divider {
  /* display: block; */
  width: 3px;
  height: 70%;
  align-self: center;
  background-color: var(--color-text-dark);
  /* background-image: var(--color-btn-blue); */
}

.subscription__content {
  display: flex;
  padding: 5px;
  width: 80%;
  height: 100%;
  justify-content: space-around;
}

.subscription__details {
  display: flex;
  flex-direction: column;
}

.subscription__address {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.subscription__instructions {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.subscription__header {
  /* border: 1px solid red; */
  text-align: center;
  align-self: center;
  padding: 5px;
  position: relative;
}

.subscription__header::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-dark);
}

.subscription__options {
  display: flex;
  flex-direction: column;
}
