.toast__bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.toast {
  position: fixed;
  top: calc(100vh - 7rem);
  right: 1rem;
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin: 1rem;
  /* background-color: red; */
  /* border: 1px solid red; */
  animation: toast 0.2s ease-out;
}

@keyframes toast {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast__message {
  color: var(--color-text-dark);
  font-size: 1;
  font-weight: 600;
}
