*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/* ANCHOR -- NAVBAR */

:root {
  /* colors */
  --color-text-light: rgb(238, 238, 238);
  --color-text-dark: #161616;
  /* --color-text-blue: rgba(0, 89, 255, 0.9); */
  /* --color-text-blue: rgba(0, 217, 255, 0.9); */
  --color-text-blue: rgb(84, 228, 247);
  --color-text-red: rgba(208, 2, 27, 1);
  --color-text-green: rgba(0, 255, 119, 1);

  --color-glass-1: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
  --color-glass-2: linear-gradient(to right top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.65));
  /* --color-glass-2: linear-gradient(to right top, rgb(84, 228, 247, 0.4), rgb(84, 228, 247, 0.65)); */
  /* --color-glass-2: linear-gradient(to right top, rgba(155, 231, 241, 0.4), rgba(155, 231, 241, 0.65)); */
  --color-glass-3: linear-gradient(to right top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
  --color-glass-blue: linear-gradient(to right top, rgba(74, 144, 226, 0.6), rgba(74, 144, 226, 0.85));
  --color-glass-green: linear-gradient(to right top, rgba(126, 211, 33, 0.6), rgba(126, 211, 33, 0.85));
  --color-glass-yellow: linear-gradient(to right top, rgba(248, 231, 28, 0.6), rgba(248, 231, 28, 0.85));
  --color-glass-red: linear-gradient(to right top, rgba(255, 80, 80, 0.8), rgba(255, 80, 80, 0.95));
  --color-glass-orange: linear-gradient(to right top, rgba(245, 166, 35, 0.6), rgba(245, 166, 35, 0.85));
  --color-btn-green: linear-gradient(to right bottom, rgba(0, 255, 119, 0.9), rgba(46, 255, 109, 0.8));
  --color-btn-orange: linear-gradient(to right bottom, rgba(238, 174, 0, 0.9), rgba(255, 182, 46, 0.8));
  --color-btn-white: linear-gradient(to right bottom, rgb(238, 238, 238, 0.9), rgba(255, 255, 255, 0.733));
  /* --color-btn-blue: linear-gradient(to right bottom, rgba(0, 89, 255, 0.9), rgba(47, 161, 255, 0.9)); */
  --color-btn-blue: linear-gradient(to right bottom, rgb(84, 228, 247, 0.9), rgba(108, 255, 243, 0.8));
  --color-btn-red: linear-gradient(to right bottom, rgba(235, 77, 75, 0.9), rgba(235, 75, 110, 0.7));
  --color-btn-yellow: linear-gradient(to right bottom, rgba(235, 232, 76, 0.9), rgba(225, 235, 76, 0.702));

  --radius-outer: 4px;
  --radius-inner: 2px;

  --window_h: calc(100vh - 9rem);

  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/page-bg.webp');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  overflow: hidden;
}

.page__section {
  margin: 1rem;
  width: 100%;
}

.section__header {
  font-size: 4rem;
  margin: 4rem;
  color: var(--color-text-light);
  position: relative;
}

.section__header span {
  color: var(--color-text-blue);
}

.section__header::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 5px;
  /* background-image: var(--color-btn-blue); */
  background-color: var(--color-text-light);
}

.section__subheader {
  text-align: center;
  margin: 1rem;
}

.glass-1 {
  background-image: var(--color-glass-1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-2 {
  background-image: var(--color-glass-2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-3 {
  background-image: var(--color-glass-3);
  /* background-color: rgba(255, 255, 255, 0.9); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-red {
  background-image: var(--color-glass-red);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-blue {
  background-image: var(--color-glass-blue);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-green {
  background-image: var(--color-btn-green);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-yellow {
  background-image: var(--color-glass-yellow);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-orange {
  background-image: var(--color-glass-orange);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
