.jobs {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-outer);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job {
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: var(--radius-inner);
  display: flex;
  align-items: center;
  width: 100%;
}

.job__image {
  padding: 5px;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.job__pic {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  border-radius: var(--radius-inner);
}

.job__divider {
  display: block;
  width: 3px;
  height: 70%;
  align-self: center;
  background-color: var(--color-text-dark);
  /* background-image: var(--color-btn-blue); */
}

.job__content {
  display: flex;
  padding: 5px;
  width: 80%;
  height: 100%;
  justify-content: space-around;
}

.job__details {
  display: flex;
  flex-direction: column;
}

.job__header {
  align-self: center;
  padding: 5px;
  position: relative;
}

.job__header::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-dark);
}

.job__instructions {
  display: flex;
  flex-direction: column;
}

.job__subscribed {
  display: flex;
  flex-direction: column;
}

.job__options {
  display: flex;
  flex-direction: column;
}
