.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.features__header {
  color: var(--color-text-light);
  font-size: 4rem;
  margin: 2rem;
}

.feature {
  display: flex;
  width: 75%;
}

.feature__pic {
  width: 50%;
  display: flex;
  justify-content: center;
}

.feature__frame--pic {
  width: 20rem;
  height: 30rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* border: 1px solid red; */
  /* padding: 2rem; */
}

.feature__img {
  display: block;
  height: auto;
  width: 100%;
}

.feature__content {
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.feature__frame--content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 2rem;
}
.feature__title {
}

.feature__description {
}
