.hero {
  height: 80vh;
  width: 100%;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95)
  );
  border-radius: var(--radius-outer);
}

.hero__bg {
  position: absolute;
  display: flex;
  /* top: -6.6rem; */
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* justify-content: center; */
  z-index: -1;
  /* width: 100%; */
  height: 100%;
  /* border: 1px solid red; */
}

.hero__img {
  opacity: 0.65;
  transform: scaleX(-1);
  /* width: 100%; */
  height: 100%;
  /* border: 1px solid blue; */
}

.hero__content {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--color-white);
}

.hero__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-size: 8rem;
  color: var(--color-text-blue);
}

.hero__slogan {
  text-align: center;
  color: var(--color-text-light);
  width: 30rem;
}

.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--color-text-light);
}

.hero__cta {
  margin: 1rem;
}
