.properties {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-outer);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property {
  margin-bottom: 2rem;
  padding: 1rem;
  /* padding: 2rem; */
  border-radius: var(--radius-inner);
  display: flex;
  align-items: center;
  width: 100%;
}

.property__image {
  padding: 5px;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.property__pic {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-inner);
}

.property__divider {
  display: block;
  width: 3px;
  align-self: center;
  height: 70%;
  background-color: vaR(--color-text-dark);
}

.property__content {
  display: flex;
  padding: 5px;
  width: 80%;
  height: 100%;
  justify-content: space-around;
}

.property__name {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: break-word;
}

.property__header {
  padding: 5px;
  position: relative;
}

.property__header::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text-dark);
}

.property__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.property__street {
  padding: 5px;
}

.property__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
